$base-color: #3c9ae2;
$base-color-darken: #0062ad;
$base-color-light: #a1d6ff;
$headerHeight : 70px;
$light-gray : #f0f0f0;


@mixin flex($content){
    display: flex;
    align-items:center;
    justify-content: $content;
}