<template>
  <div id="NotificationContainer">
    <transition-group mode="out-in" name="fade">
      <Notification
        v-for="item in state.notificationList"
        :item="item"
        :key="item._id"
      />
    </transition-group>
  </div>
</template>

<script>
import { computed, reactive } from "@vue/reactivity";
import { useStore } from "vuex";

import Notification from "./Notification.vue";
export default {
  components: {
    Notification,
  },
  setup() {
    const store = useStore();
    const state = reactive({
      notificationList: computed(
        () => store.getters["notifications/getNotifications"]
      ),
    });

    return {
      state,
    };
  },
};
</script>

<style lang="scss" scoped>
#NotificationContainer {
  z-index: 100;
  position: fixed;
  right: 0;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>