<template>
  <transition name="fade">
    <div id="Notification" :class="item.type">
      <div class="TextContainer">
        {{ state.text }}
      </div>
      <div class="ActionContainer">
        <i class="fas fa-times" @click="remove"></i>
      </div>
    </div>
  </transition>
</template>

<script>
import { computed, reactive } from "@vue/reactivity";
import { onBeforeUnmount, onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
export default {
  props: {
    item: {
      type: Object,
    },
  },
  setup(props) {
    const store = useStore();
    const state = reactive({
      text: computed(() =>
        props.item.message.length > 117
          ? `${props.item.message.substring(0, 117)}...`
          : props.item.message
      ),
      timeOut: null,
    });
    const removeNotification = () =>
      store.commit("notifications/removeNotification", props.item);

    const remove = () => {
      store.commit("notifications/removeNotification", props.item);
      clearTimeout(state.timeOut);
    };

    onMounted(() => {
        state.timeOut = setTimeout(removeNotification, 2000);
    });
    onBeforeUnmount(() => {
      clearTimeout(state.timeOut);
    });
    return {
      state,
      remove,
    };
  },
};
</script>

<style lang="scss" scoped>
.error {
  background: #F8D7DA;
  color: #7E2729;
}
.success {
  background: #D4EDDA;
  color: #385724;
}
#Notification {
  transition: all .2s ease;
  width: 400px;
  height: 100px;
  margin: 20px 20px 0 0;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  @include flex(center);
  .TextContainer {
    width: 90%;
    height: 100%;
  }
  .ActionContainer {
    width: 10%;
    height: 100%;
    @include flex(center);
    i {
      cursor: pointer;
      font-size: 24px;
    }
  }
}
</style>