<template>
  <div id="AgencyTrips">
    <NoData v-if="!state.trips.length" text="No trips yet" height="85vh" />

    <div class="trips-wrapper">
      <TripContainer
        v-for="(trip, index) in state.trips"
        :key="index"
        :trip="trip"
      >
        <template v-slot:content>
          <TripAction
            @trash="onTrashClick(trip)"
            @edit="onEditClick(trip)"
            @view="onViewClick(trip)"
            trash
            view
            :edit="trip.startDate > Date.now()"
          />
        </template>
      </TripContainer>
    </div>

    <AddNewButton @addClicked="handleAddNewButton" />

    <OverlayModal
      v-if="state.showAddNewTrip"
      @close="state.showAddNewTrip = false"
    >
      <template v-slot:content>
        <NewTripForm @close="state.showAddNewTrip = false" />
      </template>
    </OverlayModal>

    <OverlayModal
      @close="state.showDeleteDialog = false"
      v-if="state.showDeleteDialog"
    >
      <template v-slot:content>
        <ConfirmDialog
          @cancel="state.showDeleteDialog = false"
          @confirm="handleDelete"
        />
      </template>
    </OverlayModal>

    <OverlayModal
      @close="state.showEditModal = false"
      v-if="state.showEditModal"
    >
      <template v-slot:content>
        <edit-trips
          :trip="state.selectedTrip"
          @close="state.showEditModal = false"
        ></edit-trips>
      </template>
    </OverlayModal>

    <OverlayModal
      @close="state.showViewDialog = false"
      v-if="state.showViewDialog"
    >
      <template v-slot:content>
        <TripInfo
          :tripId="state.selectedTrip._id"
          @cancel="state.showViewDialog = false"
        />
      </template>
    </OverlayModal>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed, onBeforeMount, reactive } from "vue";

import NoData from "../common/NoData.vue";
import AddNewButton from "../common/AddNewButton.vue";
import OverlayModal from "../common/OverlayModal.vue";
import NewTripForm from "./NewTripForm.vue";
import TripContainer from "./TripContainer.vue";
import TripAction from "../trip/TripActions.vue";

import ConfirmDialog from "../common/ConfirmDialog.vue";
import EditTrips from "./EditTrips.vue";
import TripInfo from "./TripInfo.vue";

export default {
  name: "AgencyTrips",
  components: {
    NoData,
    AddNewButton,
    TripContainer,
    OverlayModal,
    NewTripForm,
    TripAction,
    TripInfo,
    EditTrips,
    ConfirmDialog,
  },
  setup() {
    const store = useStore();
    const state = reactive({
      trips: computed(() => store.getters["agency/getTrips"]),
      showAddNewTrip: false,
      showDeleteDialog: false,
      showEditModal: false,
      showViewDialog: false,
      selectedTrip: null,
    });

    onBeforeMount(async () => {
      await store.dispatch("agency/fetchAllTrips");
    });
    const handleDelete = async () => {
      await store.dispatch("agency/deleteTrip", state.selectedTrip._id);
      state.showDeleteDialog = false;
    };

    const handleAddNewButton = () => {
      state.showAddNewTrip = true;
    };

    const onTrashClick = (trip) => {
      state.selectedTrip = trip;
      state.showDeleteDialog = true;
    };
    const onViewClick = (trip) => {
      state.selectedTrip = trip;
      state.showViewDialog = true;
    };

    const onEditClick = (trip) => {
      state.selectedTrip = trip;
      state.showEditModal = true;
    };

    return {
      state,
      handleAddNewButton,
      onEditClick,
      onViewClick,
      onTrashClick,
      handleDelete,
    };
  },
};
</script>

<style lang="scss" scoped>
#AgencyTrips {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  .trips-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
  }
}
</style>