<template>
  <section>
    <div class="leftWrapper">
      <i class="fas fa-pen"></i>
    </div>
    <div class="formWrapper">
      <div class="title">Edit trip</div>
      <div class="content">
        <input
          placeholder="Ttitle"
          v-model="state.title"
          type="text"
          name="tripTitle"
          id=""
        />
        <br />
        <textarea
          v-model="state.description"
          placeholder="Descrition ..."
          name=""
          id=""
          cols="34"
          rows="5"
        ></textarea>

        <br />
        <input
          v-model="state.startDate"
          type="date"
          id="start"
          name="trip-start"
          min="2018-01-01"
        />
        <br />

        <input
          v-model="state.endDate"
          type="date"
          id="start"
          name="trip-end"
          min="2018-01-01"
        />

        <br />
        <div class="group">
          <input
            v-model="state.maxNumber"
            placeholder="Max number"
            type="number"
            id="maxNumber"
            name="maxNumber"
          />
          <input
            v-model="state.price"
            placeholder="Price"
            type="number"
            id="price"
            name="price"
          />
        </div>

        <br />

        <input
          v-model="state.destination"
          placeholder="Destination"
          type="text"
          id="maxNumber"
          name="maxNumber"
        />
        <br />
      </div>
      <div class="footer">
        <div class="cnt">
          <Button
            @clicked="createNewTrip"
            :loading="state.loading"
            :disabled="state.loading"
            text="Save Changes"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Button from "../common/Button.vue";
import { reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import { parseDate } from "../../utilities/time.utitlites";
export default {
  name: "NewTripForm",
  components: {
    Button,
  },
  props: {
    trip: {
      type: Object,
      default: {},
    },
  },
  setup(props, { emit }) {
    const store = useStore();
    const state = reactive({
      maxNumber: props?.trip.maxNumber,
      endDate: new Date(props?.trip.endDate).toJSON().slice(0, 10),
      description: props?.trip.description,
      title: props?.trip.title,
      destination: props?.trip.destination,
      startDate: new Date(props?.trip.startDate).toJSON().slice(0, 10),
      loading: false,
      price: props?.trip.price,
    });

    const createNewTrip = async () => {
      state.loading = true;
      await store.dispatch("agency/updateTrip", {
        tripId: props.trip._id,
        maxNumber: state.maxNumber,
        endDate: parseDate(state.endDate),
        description: state.description,
        title: state.title,
        destination: state.destination,
        startDate: parseDate(state.startDate),
        price: state.price,
      });
      emit("close");
      state.loading = false;
    };

    return {
      state,
      createNewTrip,
    };
  },
};
</script>

<style lang="scss" scoped >
.group {
  width: 50% !important;
  & > :first-child {
    width: calc(50% - 5px) !important;
    margin-right: 5px;
  }
}

button {
  background-color: $base-color;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  width: 50%;
  font-size: 20px;
  border-radius: 10px;
  .fa-spinner {
    animation: spin 2s linear infinite;
  }
}

section {
  @include flex(center);
  border-radius: 20px;
  cursor: auto;
  max-width: 1200px;
  min-width: 1100px;
  height: 90%;
  background: white;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  .leftWrapper {
    width: 50%;
    .fa-pen {
      @include flex(center);

      color: $base-color-light;
      text-align: center;
      font-size: 200px;
      transform: rotate(-35deg);
    }
  }
  .formWrapper {
    height: 100%;
    width: 55%;
    .title {
      height: 10%;
      @include flex(center);
      font-size: 30px;
      font-weight: 700;
    }
    .content {
      input[type="date"],
      input[type="text"],
      input[type="number"],
      textarea {
        border: 1px solid $base-color;
        font-size: 20px;
        outline: none;
        padding: 12px 16px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        width: 50%;
      }
      textarea {
        resize: vertical;
      }

      height: 80%;
      @include flex(center);
      flex-direction: column;
    }
    .footer {
      @include flex(center);
      height: 10%;
      width: 100%;
      .cnt {
        width: 50%;
      }
    }
  }
}
</style>