<template>
  <div class="ReviewRecord">
    <div class="header">
      <Rate :rate="review.rate" :index="index" viewOnly />
      <h1>{{ review.title }}</h1>
    </div>
    <p class="description">{{ review.description }}</p>
    <footer>
      <p>
        <i class="far fa-clock"></i>
        {{
          `
             ${timestampToDate(review.created_at)}`
        }}
      </p>
      <p>
        <i class="fas fa-user-friends"></i>
        {{ review.user_id.name }}
      </p>
    </footer>
  </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import Rate from "../common/Rate.vue";
import { timestampToDate } from "../../utilities/time.utitlites";
export default {
  props: {
    review: {
      type: Object,
    },
    index: {
      type: Number,
    },
  },
  components: {
    Rate,
  },
  name: "ReviewRecord",
  setup() {
    const store = useStore();

    const state = reactive();

    return {
      state,
      timestampToDate,
    };
  },
};
</script>

<style lang="scss" scoped>
i {
  color: $base-color;
}
.ReviewRecord {
  background: #f0f0f0;
  margin: 20px 0;
  border-radius: 20px;
}
.description {
  word-break: break-all;
  margin: 0 20px;
  padding: 20px 0;
}
footer {
  p {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px 0 20px;
  }
}
.header {
  display: block;
  padding-top: 20px;
}
</style>