<template>
  <div>
    <div id="TripContainer">
      <div class="price">
        <p>{{ `${trip.price}$` }}</p>
      </div>
      <div class="imageContainer">
        <Loading v-if="!state.loaded" />
        <img :src="state.imgUrl" alt="" @load="state.loaded = true" />
      </div>
      <div class="wrapper">
        <div class="content">
          <div class="title">{{ trip.title }}</div>
          <div class="description">{{ trip.description }}</div>

          <p>
            <i class="fas fa-user-friends"></i>
            {{ `${trip.participants}/${trip.maxNumber}` }}
          </p>
          <p>
            <i class="far fa-clock"></i>
            {{
              `${timestampToDate(trip.startDate)} | ${timestampToDate(
                trip.endDate
              )}`
            }}
          </p>
          <Rate
            v-if="state.rate"
            :rate="state.rate"
            :index="index()"
            viewOnly
          />
        </div>

        <div class="actions">
          <slot name="content"> </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed, reactive } from "@vue/reactivity";
import { timestampToDate } from "../../utilities/time.utitlites";
import TripActions from "../trip/TripActions.vue";
import OverlayModal from "../common/OverlayModal.vue";
import ConfirmDialog from "../common/ConfirmDialog.vue";
import EditTrips from "./EditTrips.vue";
import Loading from "../common/Loading.vue";
import Rate from "../common/Rate.vue";

export default {
  name: "TripContainer",
  components: {
    TripActions,
    OverlayModal,
    ConfirmDialog,
    EditTrips,
    Loading,
    Rate,
  },
  props: {
    trip: {
      type: Object,
    },
  },
  setup(props) {
    const store = useStore();
    const state = reactive({
      showDeleteDialog: false,
      selectedTrip: null,
      showEditModal: false,
      showViewDialog: false,
      imgUrl: computed(() => {
        return `https://source.unsplash.com/random/400x200?sig=${
          Math.random() * 10
        }`;
      }),
      loaded: false,
      rate: computed(() => {
        let sum = 0;
        props.trip?.reviews?.length &&
          (sum =
            props.trip.reviews.reduce((total, val) => total + val.rate, 0) /
            props.trip.reviews.length);

        return Math.round(sum);
      }),
    });
    const index = () => {
      return Math.floor(Math.random() * Math.floor(Math.random() * Date.now()));
    };
    return {
      timestampToDate,
      index,
      state,
    };
  },
};
</script>

<style lang="scss" scoped >
i {
  color: $base-color;
}
#TripContainer {
  position: relative;
  transition: all 0.15s ease-in;
  overflow: hidden;
  width: 400px;
  height: 500px;
  margin: 25px 0;
  background-color: $light-gray;
  border-radius: 20px;
  &:hover > .wrapper > .actions {
    margin-top: 0px;
  }
  .price {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 15px 20px;
    background: $base-color-light;
    color: white;
  }
  .imageContainer {
    height: 200px;
    width: 400px;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    height: 300px;
    .content {
      height: 90%;
      & > * {
        padding: 7px 10px;
      }
      .description {
        word-wrap: break-word;
        height: 50px;
        overflow: hidden;
        text-transform: capitalize;
      }
      .title {
        font-size: 20px;
        height: 10%;
        font-weight: bold;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;
      }
    }
    .actions {
      transition: all 0.15s ease-in;
      width: 100%;
      height: 10%;
      margin-top: 100px;
    }
  }
}
</style>