<template>
  <div id="TripInfo">
    <Loading v-if="!state.trip" />
    <div class="TripInfoContainer" v-else>
      <div class="left">
        <TripContainer :trip="state.trip" />
      </div>
      <div class="right">
        <h1>Reviews</h1>
        <hr />
        <br />
        <NoData
          v-if="!state.trip.reviews.length"
          text="No reviews for this trip"
          style="border-radius: 20px; height : 88%"
        />
        <div class="reviews" v-else>
          <ReviewRecord
            v-for="(review, index) in state.trip.reviews"
            :key="index"
            :review="review"
            :index="index"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import { onBeforeMount } from "@vue/runtime-core";
import Loading from "../common/Loading.vue";
import TripContainer from "./TripContainer.vue";
import NoData from "../common/NoData.vue";
import ReviewRecord from "./ReviewRecord.vue";
export default {
  components: {
    Loading,
    TripContainer,
    NoData,
    ReviewRecord,
  },
  props: {
    tripId: {
      type: String,
    },
  },
  name: "TripInfo",
  setup(props) {
    const store = useStore();

    const state = reactive({
      trip: null,
    });
    onBeforeMount(async () => {
      state.trip = await store.dispatch("agency/fetchTripById", props.tripId);
    });

    return {
      state,
    };
  },
};
</script>

<style lang="scss" scoped>
#TripInfo {
  border-radius: 20px;
  width: 80%;
  height: 90%;
  background: white;
  cursor: auto;
  box-sizing: border-box;
  padding: 20px;
  .TripInfoContainer {
    @include flex(center);
    width: 100%;
    height: 100%;
    .left {
      width: 50%;
      height: 100%;
      // background-color: red;
      box-sizing: border-box;
      padding: 20px;
      @include flex(center);
    }
    .right {
      width: 50%;
      height: 70%;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 20px;

      .reviews {
        height: calc(100% - 50px);
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
</style>