<template>
  <div id="">
    <NotificationContainer />
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
import NotificationContainer from "./components/notification/NotificationContainer.vue";

export default {
  components: {
    NotificationContainer,
  },
};
</script>

<style lang="scss">
</style>
