<template>
  <div class="actionWrapper">
    <i v-if="edit" @click="$emit('edit')" class="fas fa-pen"></i>
    <i v-if="view" @click="$emit('view')" class="fas fa-eye"></i>
    <i v-if="pay" @click="$emit('pay')" class="fab fa-paypal"></i>
    <i v-if="trash" @click="$emit('trash')" class="fas fa-trash"></i>
    <p v-if="participate" @click="$emit('participate')">Participate</p>
  </div>
</template>

<script>
export default {
  name: "TripAction",
  emits: ["pay", "view", "edit", "trash", "join", "participate"],
  props: {
    trip: {
      type: Object,
    },
    pay: {
      type: Boolean,
      default: false,
    },
    trash: {
      type: Boolean,
      default: false,
    },
    view: {
      type: Boolean,
      default: false,
    },
    edit: {
      type: Boolean,
      default: false,
    },
    participate: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped >
.fa-paypal {
  color: white;
  background-color: $base-color;
}
.fa-trash {
  color: white;
  background-color: rgb(236, 79, 79);
}
.fa-eye {
  color: white;
  background-color: rgb(236, 155, 79);
}
.fa-pen {
  background-color: rgb(79, 218, 236);

  color: white;
}
p {
  background-color: rgb(79, 218, 236);
  color: white;
  font-size: 20px !important;
}
.actionWrapper {
  height: 100%;
  @include flex(space-around);
  i,
  p {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    border-radius: 10px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
</style>