<template>
  <div class="AddButton">
    <i @click="$emit('addClicked')" class="fas fa-plus"></i>
  </div>
</template>

<script>
export default {
  name: "NoData",
};
</script>

<style lang="scss" scoped >
.AddButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  .fa-plus {
    color: white;
    background: $base-color-light;
    transition: all 0.15s ease-in;
    cursor: pointer;
    border-radius: 50px;
    padding: 20px;
    &:hover {
      background: $base-color;
      transform: scale(1.05);
    }
  }
}
</style>