<template>
<div>
    <button
      class="input"
      :class="{ disabled: disabled }"
      @click="handleClick"
      type="button"
    >
      <i v-if="loading" class="fa fa-spinner"></i>
      <span v-else>{{ text }}</span>
    </button>
    <p class="responseError">{{ errorMessage }}</p>
  </div>
</template>

<script>
export default {
  props: {
    errorMessage: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: "Submit",
    },
  },
  setup(props, { emit }) {
    const handleClick = () => {
      !props.disabled && emit("clicked");
    };
    return {
      handleClick,
    };
  },
};
</script>

<style lang="scss" scoped>
div {
  width: 100%;
}
.disabled {
  background-color: $base-color-light !important;
  cursor: auto !important;
}

button {
  background-color: $base-color;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  .fa-spinner {
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.responseError {
  padding: 10px 0;
  color: red;
  height: 20px;
}
</style>