<template>
  <div class="container">
    <div class="header">{{ header }}</div>
    <hr />
    <div class="content">
      {{ content }}
    </div>
    <hr />

    <div class="actions">
      <div @click="$emit('cancel')" class="cancel">Cancel</div>
      <div @click="$emit('continue')" class="continue">Pay later</div>
      <div @click="$emit('pay')" class="confirm">Pay now</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContinuePayment",
  props: {
    header: {
      type: String,
      default: "Confrim!",
    },
    content: {
      type: String,
      default: "Are you sure you want to continue?",
    },
  },
  emits: ["cancel", "confirm"],
  setup(props, { emit }) {
    const handleClick = () => {
      !props.disabled && emit("clicked");
    };
    return {
      handleClick,
    };
  },
};
</script>

<style lang="scss" scoped>
.container {
  overflow: hidden;
  cursor: auto;
  height: 300px;
  width: 450px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;

  .actions,
  .header {
    height: 20%;
    width: 100%;
  }
  .header {
    font-size: 30px;
    text-align: center;
  }
  .actions {
    & > * {
      transition: all 0.1s ease-in;
    }
    @include flex(space-between);
    .cancel {
      // transition: all 0.1s ease-in;
      border-right: 1px solid gray;
      border-radius: 0 0 0 10px;
      &:hover {
        background-color: rgb(247, 176, 176);
        color: white;
        font-weight: bolder;
      }
    }
    .continue {
      border-right: 1px solid gray;
      &:hover {
        background-color: $base-color-light;
        color: white;
      }
    }
    .confirm {
      border-radius: 0 0 10px 0;
      &:hover {
        background-color: $base-color;

        color: white;
      }
    }
    .cancel,
    .confirm,
    .continue {
      cursor: pointer;
      width: 33.3%;
      height: 100%;
      box-sizing: border-box;
      text-transform: capitalize;
      @include flex(center);
    }
  }
  .content {
    box-sizing: border-box;

    padding: 20px;
    font-size: 20px;
    text-align: center;
    height: 60% !important;
    width: 100%;
  }
}
</style>