<template>
  <div id="Loading" :style="{ background }">
    <i class="fas fa-spinner"></i>
  </div>
</template>

<script>
export default {
  name: "Loading",
  props: {
    background: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
#Loading {
  @include flex(center);
  height: 100%;
  width: 100%;
  .fa-spinner {
    font-size: 40px;
    color: black;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>