<template>
  <div class="NoDataContainer" :style="{height}">
    <p> {{ text }} <i class="fas fa-puzzle-piece"></i></p>
  </div>
</template>

<script>
export default {
  name: "NoData",
  props: {
    text: {
      type: String,
      default: "Data",
    },
    height : {
      type : String,
      default : "100%"
    }
  },
};
</script>

<style lang="scss" scoped >
.NoDataContainer {
  @include flex(center);
  width: 100%;

  background: $light-gray;
  p {
    font-size: 25px;
    font-weight: 700;
    color:  rgba(0,0,0, 0.4);
  }
}
</style>