<template>
  <teleport to="body">
    <div @click.self="$emit('close')" id="OverlayModal">
      <slot name="content"> </slot>
    </div>
  </teleport>
</template>

<script>
import { onBeforeUnmount, onMounted } from "vue";
export default {
  name: "OverlayModal",
  emits: ["close"],
  components: {},
  setup(props, { emit }) {
    onMounted(() => {
      document.body.setAttribute("style", "overflow:hidden;");

      window.addEventListener("keyup", function (event) {
        if (event.keyCode === 27) {
          emit("close");
        }
      });
    });
    onBeforeUnmount(() => {
      document.body.setAttribute("style", "overflow:auto;");

      window.removeEventListener("keyup", function (event) {
        if (event.keyCode === 27) {
          emit("close");
        }
      });
    });
    return {};
  },
};
</script>

<style lang="scss" scoped>
#OverlayModal {
  cursor: pointer;
  position: fixed;
  @include flex(center);
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.904);
  z-index: 12;
}
</style>