<template>
  <div class="Rate">
    <input
      type="radio"
      :id="'star5' + index"
      :name="'rate' + index"
      @click="handleClick($event, 5)"
      value="5"
      :checked="rate == 5"
    />
    <label :for="'star5' + index" title="text">5 stars</label>
    <input
      type="radio"
      :id="'star4' + index"
      :name="'rate' + index"
      @click="handleClick($event, 4)"
      value="4"
      :checked="rate == 4"
    />
    <label :for="'star4' + index" title="text">4 stars</label>
    <input
      type="radio"
      :id="'star3' + index"
      :name="'rate' + index"
      @click="handleClick($event, 3)"
      value="3"
      :checked="rate == 3"
    />
    <label :for="'star3' + index" title="text">3 stars</label>
    <input
      type="radio"
      :id="'star2' + index"
      :name="'rate' + index"
      @click="handleClick($event, 2)"
      value="2"
      :checked="rate == 2"
    />
    <label :for="'star2' + index" title="text">2 stars</label>
    <input
      type="radio"
      :id="'star1' + index"
      :name="'rate' + index"
      @click="handleClick($event, 1)"
      value="1"
      :checked="rate == 1"
    />
    <label :for="'star1' + index" title="text">1 star</label>
  </div>
</template>

<script>
export default {
  name: "Rate",
  props: {
    rate: {
      type: Number,
      dafault: 0,
    },
    viewOnly: {
      type: Boolean,
    },
    index: {
      default: 1,
    },
  },
  setup(props, { emit }) {
    const handleClick = (event, value) => {
      if (props.viewOnly) {
        event.preventDefault();
      } else {
        emit("update:rate",value);
      }
    };
    return {
      handleClick,
    };
  },
};
</script>

<style scoped >
.Rate {
  float: left;
  height: 40px;
  padding: 0 10px;
}
.Rate:not(:checked) > input {
  visibility: hidden;
  position: absolute;
}
.Rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.Rate:not(:checked) > label:before {
  content: "★ ";
}
.Rate > input:checked ~ label {
  color: #ffc700;
}
.Rate:not(:checked) > label:hover,
.Rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.Rate > input:checked + label:hover,
.Rate > input:checked + label:hover ~ label,
.Rate > input:checked ~ label:hover,
.Rate > input:checked ~ label:hover ~ label,
.Rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
</style>