<template>
  <div id="Agency">
    <div class="agency-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "Agency",
};
</script>

<style lang="scss" scoped>
#Agency {
  @include flex(center);
  width: 100%;
  margin: 20px 0;
  .agency-container {
    position: relative;
    min-width: 500px;
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
  }
}
</style>