<template>
  <div id="Home">
    <Header />
    <router-view />
  </div>
</template>

<script>
import { onBeforeMount } from "@vue/runtime-core";
import Header from "../components/header/Header.vue";
import { useStore } from "vuex";
export default {
  name: "Home",
  components: {
    Header,
  },
  setup() {
    const store = useStore();
    onBeforeMount(() => {
      store.commit("general/setTokenInfo");
    });
  },
};
</script>

<style>
</style>