<template>
  <section>
    <form>
      <div class="actions-wrapper">
        <div
          @click="changeAction('user')"
          class="action"
          :class="{ activeAction: state.actionType === 'user' }"
        >
          User
        </div>
        <div
          @click="changeAction('agency')"
          class="action"
          :class="{ activeAction: state.actionType === 'agency' }"
        >
          Agency
        </div>
      </div>

      <div class="input-fields-wrapper">
        <i
          v-if="state.actionType === 'user'"
          transition="expand"
          class="fas fa-user"
        ></i>
        <i v-else class="fas fa-user-tie"></i>
        <h1>Wellcome Back!</h1>
        <div class="input-fields">
          <input
            v-model="state.email"
            @keyup="validateInput('email')"
            id="email"
            class="input"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            type="text"
            placeholder="Email"
            required
          />
          <span class="errorSpan">{{ state.emailError }}</span>

          <br />
          <input
            v-model="state.password"
            @keyup="validateInput('password')"
            id="password"
            class="input"
            type="password"
            placeholder="Password"
            minlength="8"
            required
          />
          <span class="errorSpan">{{ state.passwordError }}</span>

          <Button
            text="Log In"
            :disabled="state.invalidInput"
            @clicked="submitForm"
            :loading="state.loading"
            :errorMessage="state.errorMessage"
            style="marginTop : 10px"
          />

        </div>
      </div>

      <div class="footer">
        <p>
          Not a member?
          <router-link to="/signUp" class="tab active" tag="a" exact
            >Create an Account</router-link
          >
        </p>
      </div>
    </form>
  </section>
</template>
<script>
import { computed, reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import { onBeforeUnmount, onMounted } from "vue";
import Button from "../components/common/Button.vue";

export default {
  components: { Button },
  name: "LogIn",
  setup() {
    const store = useStore();
    const state = reactive({
      actionType: "user",
      invalidInput: true,
      emailError: "",
      passwordError: "",
      email: "",
      password: "",
      loading: false,
      errorMessage: "",
    });

    onMounted(() => {
      window.addEventListener("keyup", enterKey);
    });
    onBeforeUnmount(() => {
      window.removeEventListener("keyup", enterKey);
    });

    const changeAction = (newAction) => {
      state.actionType = newAction;
    };
    const enterKey = (event) => {
      if (event.keyCode === 13) {
        submitForm();
      }
    };

    const isFormValide = () => {
      let fields = document.getElementsByTagName("input");
      for (let field of fields) {
        if (field.validationMessage) {
          return true;
        }
      }
      return state.loading;
    };

    function validateInput(type) {
      state.errorMessage = "";
      let element = document.getElementById(type);
      state.invalidInput = isFormValide();
      state[`${type}Error`] = element.validationMessage;
    }
    const submitForm = async () => {
      if (state.invalidInput) return;

      state.loading = true;
      state.invalidInput = true;
      state.errorMessage = "";

       await store.dispatch("general/logIn", {
        type: state.actionType,
        credentials: {
          password: state.password,
          email: state.email,
        },
      });


      state.loading = false;
      state.invalidInput = false;
    };
    return {
      state,
      changeAction,
      validateInput,
      submitForm,
    };
  },
};
</script>
<style scoped lang="scss">
.errorSpan {
  color: red;
  font-size: 12px;
}

section {
  @include flex(center);
  height: 100vh;
  width: 100%;
  background: white;
  form {
    overflow: hidden;
    border-radius: 10px;
    height: 600px;
    width: 500px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    .actions-wrapper {
      @include flex(center);
      height: 60px;
      width: 100%;
      .action {
        @include flex(center);
        transition: all 0.15s ease-in;
        color: white;
        cursor: pointer;
        height: 100%;
        width: 50%;
        background-color: $base-color;
        font-weight: bold;
      }
    }
    .input-fields-wrapper {
      @include flex(center);
      flex-direction: column;
      height: calc(100% - 120px);
      h1 {
        margin-bottom: 20px;
      }
      .fas {
        text-align: center;
        margin: 20px 0;
        color: $base-color;
        font-size: 60px;
      }
      .input-fields {
        width: 50%;
        .input {
          margin: 15px 0;
          width: 100%;
          border: none;
          font-size: 20px;
          outline: none;
          padding: 12px 24px;
          border-radius: 5px;
          box-sizing: border-box;
        }
        input[type="text"],
        input[type="password"] {
          background-color: #f0f0f0;
        }
        input:invalid {
          border: 1px solid red !important;
        }
      }
    }
    .footer {
      @include flex(center);
      height: 60px;
      background-color: #f0f0f0;
      p {
        a {
          color: $base-color;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.activeAction {
  background-color: $base-color-darken !important;
}


</style>
