<template>
  <section>
    <form id="form">
      <div class="actions-wrapper">
        <div
          @click="changeAction('user')"
          class="action"
          :class="{ activeAction: state.actionType === 'user' }"
        >
          User
        </div>
        <div
          @click="changeAction('agency')"
          class="action"
          :class="{ activeAction: state.actionType === 'agency' }"
        >
          Agency
        </div>
      </div>

      <div class="input-fields-wrapper">
        <i
          v-if="state.actionType === 'user'"
          transition="expand"
          class="fas fa-user"
        ></i>
        <i v-else class="fas fa-user-tie"></i>
        <div class="input-fields">
          <input
            @keyup="validateInput('name')"
            v-model="state.name"
            id="name"
            class="input"
            pattern="^\w{3,}$"
            type="text"
            :placeholder="
              state.actionType === 'user' ? 'Full Name' : 'Agency Name'
            "
            required
          />
          <span class="errorSpan">{{ state.nameError }}</span>
          <input
            @keyup="validateInput('email')"
            v-model="state.email"
            id="email"
            class="input"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            type="text"
            placeholder="Email"
            required
          />
          <span class="errorSpan">{{ state.emailError }}</span>
          <br />
          <input
            id="password"
            @keyup="validateInput('password')"
            v-model="state.password"
            class="input"
            type="password"
            placeholder="Password"
            minlength="8"
            required
          />
          <span class="errorSpan">{{ state.passwordError }}</span>
          <input
            id="phone"
            @keyup="validateInput('phone')"
            v-model="state.phone"
            class="input"
            pattern="^\d{10,16}$"
            type="text"
            placeholder="Phone Number"
            required
          />
          <span class="errorSpan">{{ state.phoneError }}</span>

          <Button
            text="Sign Up"
            :disabled="state.invalidInput"
            @clicked="submitForm"
            :loading="state.loading"
            :errorMessage="state.errorMessage"
            style="margintop: 10px"
          />
        </div>
      </div>

      <div class="footer">
        <p>
          Already have an account?
          <router-link to="/login" class="tab active" tag="a" exact
            >Log In</router-link
          >
        </p>
      </div>
    </form>
  </section>
</template>
<script>
import { computed, reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import { onMounted, onBeforeUnmount } from "vue";
import Button from "../components/common/Button.vue";
export default {
  name: "SignUp",
  components: {
    Button,
  },
  setup() {
    const store = useStore();
    const state = reactive({
      actionType: "user",
      invalidInput: true,
      emailError: "",
      phoneError: "",
      errorMessage: "",
      email: "",
      password: "",
      name: "",
      phone: null,
      loading: false,
    });

    onMounted(() => {
      window.addEventListener("keyup", enterKey);
    });
    onBeforeUnmount(() => {
      window.removeEventListener("keyup", enterKey);
    });

    const enterKey = (event) => {
      if (event.keyCode === 13) {
        submitForm();
      }
    };

    const changeAction = (newAction) => {
      state.actionType = newAction;
    };

    const isFormValide = () => {
      let fields = document.getElementsByTagName("input");
      for (let field of fields) {
        if (field.validationMessage) {
          return true;
        }
      }
      return state.loading;
    };

    function validateInput(type) {
      state.errorMessage = "";
      let element = document.getElementById(type);
      state.invalidInput = isFormValide();
      state[`${type}Error`] = element.validationMessage;
    }

    const submitForm = async () => {
      state.loading = true;
      state.invalidInput = true;
      state.errorMessage = "";

      await store.dispatch("general/signUp", {
        type: state.actionType,
        payload: {
          password: state.password,
          email: state.email,
          phone: state.phone,
          name: state.name,
        },
      });

      state.loading = false;
      state.invalidInput = false;
    };
    return {
      state,
      changeAction,
      validateInput,
      submitForm,
    };
  },
};
</script>
<style scoped lang="scss">
.errorSpan {
  color: red;
  font-size: 12px;
}
.disabled {
  background-color: $base-color-light !important;
  cursor: auto !important;
}

.responseError {
  color: red;
  height: 20px;
}

section {
  @include flex(center);
  height: 100vh;
  width: 100%;
  background: white;
  form {
    overflow: hidden;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    .actions-wrapper {
      @include flex(center);
      height: 60px;
      width: 100%;
      .action {
        transition: all 0.15s ease-in;
        color: white;
        cursor: pointer;
        @include flex(center);
        height: 100%;
        width: 50%;
        background-color: $base-color;
        font-weight: bold;
      }
    }
    .input-fields-wrapper {
      @include flex(center);
      flex-direction: column;
      height: calc(100% - 120px);
      h1 {
        margin-bottom: 20px;
      }
      .fas {
        text-align: center;
        margin: 20px 0;
        color: $base-color;
        font-size: 60px;
      }
      .input-fields {
        width: 50%;
        .input {
          margin: 15px 0;
          width: 100%;
          border: none;
          font-size: 20px;
          outline: none;
          padding: 12px 24px;
          border-radius: 5px;
          box-sizing: border-box;
        }
        input[type="text"],
        input[type="password"] {
          background-color: #f0f0f0;
        }
        button {
          background-color: $base-color;
          color: white;
          cursor: pointer;
          .fa-spinner {
            animation: spin 2s linear infinite;
          }
        }
        input:invalid {
          border: 1px solid red !important;
        }
      }
    }
    .footer {
      height: 60px;
      background-color: $light-gray;
      @include flex(center);
      p {
        a {
          color: $base-color;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.activeAction {
  //   transition: all 1s ease-in;
  background-color: $base-color-darken !important;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
