<template>
  <div class="Trips">
    <NoData v-if="!state.trips.length" height="88vh" text="No trips yet" />
    <div class="trips-wrapper">
      <UserTripContainer
        v-for="(item, index) in state.trips"
        :key="index"
        :trip="item"
      >
        <template v-slot:content>
          <TripActions participate @participate="confrimParticipate(item)" />
        </template>
      </UserTripContainer>
    </div>

    <OverlayModal
      @close="state.confrimParticipate = false"
      v-if="state.confrimParticipate"
    >
      <template v-slot:content="">
        <ContinuePayment
          @cancel="state.confrimParticipate = false"
          @continue="participate"
          @pay="continuePayment"
        />
      </template>
    </OverlayModal>
  </div>
</template>

<script>
import { computed, reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import { onBeforeMount } from "@vue/runtime-core";
import NoData from "../common/NoData.vue";
import UserTripContainer from "./UserTripContainer.vue";
import TripActions from "../trip/TripActions.vue";
import OverlayModal from "../common/OverlayModal.vue";
import ConfirmDialog from "../common/ConfirmDialog.vue";
import Participate from "./Participate.vue";
import ContinuePayment from "../common/ContinuePayment.vue";
export default {
  name: "Trips",
  components: {
    NoData,
    UserTripContainer,
    TripActions,
    OverlayModal,
    ConfirmDialog,
    Participate,
    ContinuePayment,
  },
  setup() {
    const store = useStore();
    const state = reactive({
      trips: computed(() => store.getters["user/getTrips"]),
      confrimParticipate: false,
      trip: null,
    });

    onBeforeMount(async () => {
      await store.dispatch("user/fetchAllTrips");
    });
    const participate = async () => {
      await store.dispatch("user/participate", {
        agency_id: state.trip.agency._id,
        trip_id: state.trip._id,
      });
      state.confrimParticipate = false;
    };
    const confrimParticipate = (trip) => {
      state.trip = trip;
      state.confrimParticipate = true;
    };
    return {
      state,
      participate,
      confrimParticipate,
    };
  },
};
</script>

<style lang="scss" scoped>
.NoDataContainer {
  border-radius: 20px;
}

.trips-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
}
</style>