<template>
  <div id="ParticipateTrip"></div>
</template>

<script>
import { onBeforeMount } from "vue";
export default {
  name: "Trips",
  props: {
    trip: {
      type: Object,
      default: {},
    },
  },
  components: {},
  setup() {
    onBeforeMount(async () => {
    //   await store.dispatch("user/fetchAllTrips");
    });

    return {
    };
  },
};
</script>

<style lang="scss" scoped>
#ParticipateTrip {
  width: 90%;
  height: 90%;
  background: white;
}
</style>