<template>
  <div id="Review">
    <h1>Review Trip</h1>
    <div class="wrapper">
      <div class="trip">
        <UserTripContainer :trip="trip" />
      </div>
      <div class="review-wrapper">
        <div class="content-wrapper">
          <input v-model="state.title" type="text" placeholder="Title" />
          <textarea
            v-model="state.description"
            name="review"
            placeholder="Descrition"
            rows="10"
            id="review-box"
          ></textarea>

          <Rate v-model:rate="state.rate" />
        </div>
        <Button @clicked="submitReview" text="Submit review" />
      </div>
    </div>
  </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import Loading from "../common/Loading.vue";
import UserTripContainer from "./UserTripContainer.vue";
import Rate from "../common/Rate.vue";
import Button from "../common/Button.vue";
import { watch } from "@vue/runtime-core";
export default {
  name: "Review",
  props: {
    trip: {
      type: Object,
    },
  },
  components: {
    Loading,
    UserTripContainer,
    Rate,
    Button,
  },
  setup(props, { emit }) {
    const store = useStore();
    const state = reactive({
      rate: 0,
      loading: true,
      description: "",
      title: "",
    });

    watch(
      () => state.rate,
      (a, b) => {
        console.log({ a, b });
      }
    );

    const submitReview = async () => {
      state.loading = true;
      await store.dispatch("user/submitReview", {
        rate: state.rate,
        description: state.description,
        title: state.title,
        trip_id: props.trip._id,
      });
      state.loading = false;
      emit("close");
    };
    return {
      state,

      submitReview,
    };
  },
};
</script>

<style lang="scss" scoped>
#Review {
  width: 60%;
  height: 90%;
  background: white;
  border-radius: 20px;
  min-width: 1300px;
  padding: 20px;
  cursor: auto;
  box-sizing: border-box;
  h1 {
    text-align: center;
  }
  .wrapper {
    width: 100%;
    height: calc(100% - 40px);
    @include flex(space-between);
    .trip {
      @include flex(center);
      flex-direction: column;
      height: 100%;
      width: 50%;
      padding: 20px;
      box-sizing: border-box;
    }
    .review-wrapper {
      @include flex(center);
      flex-direction: column;
      height: 100%;
      width: 50%;
      padding: 20px;
      box-sizing: border-box;
      .content-wrapper {
        width: 100%;
        textarea,
        input {
          padding: 10px 20px;
          width: 100%;
          box-sizing: border-box;
          margin: 10px;
          display: block;
          outline: none;
          border-radius: 5px;
          border: 1px solid $base-color;
        }
      }
    }
  }
}
</style>