<template>
  <div class="Trips">
    <NoData v-if="!state.trips.length" height="88vh" text="No trips yet" />
    <div class="trips-wrapper">
      <UserTripContainer
        v-for="(item, index) in state.trips"
        :key="index"
        :trip="item"
      >
        <template v-slot:content>
          <TripActions
            @trash="prepareToDelete(item)"
            @edit="prepareToReview(item)"
            :pay="canPay(item)"
            :edit="canReveiw(item)"
            :trash="canCancel(item)"
          />
        </template>
      </UserTripContainer>
    </div>

    <OverlayModal @close="state.showConfirm = false" v-if="state.showConfirm">
      <template v-slot:content="">
        <ConfirmDialog
          @cancel="state.showConfirm = false"
          @confirm="cancelTrip"
          content="Are you sure you want to cancel this trip?"
        />
      </template>
    </OverlayModal>

    <OverlayModal @close="state.showReview = false" v-if="state.showReview">
      <template v-slot:content>
        <Review @close="state.showReview = false" :trip="state.selectedTrip" />
      </template>
    </OverlayModal>
  </div>
</template>

<script>
import { computed, reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import { onBeforeMount } from "@vue/runtime-core";
import NoData from "../common/NoData.vue";
import TripActions from "../trip/TripActions.vue";
import UserTripContainer from "./UserTripContainer.vue";
import OverlayModal from "../common/OverlayModal.vue";
import ConfirmDialog from "../common/ConfirmDialog";
import Review from "./Review.vue";
export default {
  name: "Trips",
  components: {
    NoData,
    TripActions,
    UserTripContainer,
    OverlayModal,
    ConfirmDialog,
    Review,
  },
  setup() {
    const store = useStore();
    const state = reactive({
      trips: computed(() => store.getters["user/getTrips"]),
      selectedTrip: null,
      showConfirm: false,
      showReview: false,
    });

    onBeforeMount(async () => {
      await store.dispatch("user/fetchTrips");
    });

    const prepareToDelete = (trip) => {
      state.showConfirm = true;
      state.selectedTrip = trip;
    };

    const prepareToReview = (trip) => {
      state.showReview = true;
      state.selectedTrip = trip;
    };

    const cancelTrip = async () => {
      await store.dispatch("user/cancelTrip", {
        order_id: state.selectedTrip.order_id,
        trip_id: state.selectedTrip._id,
      });
      state.showConfirm = false;
    };

    const canReveiw = (trip) => {
      return trip?.hasPayed && trip.endDate < Date.now();
    };

    const canPay = (trip) => {
      return !trip.hasPayed && trip.startDate > Date.now();
    };

    const canCancel = (trip) => {
      return !(trip.startDate < Date.now());
    };

    return {
      state,
      cancelTrip,
      prepareToDelete,
      canReveiw,
      canCancel,
      canPay,
      prepareToReview,
    };
  },
};
</script>

<style lang="scss" scoped>
.NoDataContainer {
  border-radius: 20px;
}
.trips-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
}
</style>