<template>
  <div id="Header">
    <div class="header-wrpper">
      <div class="action" v-for="(value, index) in navigationList" :key="index">
        <router-link
          v-if="value.type === state.tokenInfo?.data?.type"
          :to="value.route"
          tag="a"
          :class="{ active: value.route == route.path }"
        >
          {{ value.title }}
        </router-link>
      </div>
      <div @click="logOut" class="button"><a> Log Out </a></div>
    </div>
    <div class="profile-wrpper"></div>
  </div>
</template>

<script>
import ApiService from "../../services/api.service";
import { useRoute } from "vue-router";
import { computed, reactive, ref } from "@vue/reactivity";
import { useStore } from "vuex";
export default {
  name: "Header",
  componets: {},
  setup() {
    const route = useRoute();
    const store = useStore();
    const state = reactive({
      tokenInfo: computed(() => store.getters["general/getTokenInfo"]),
    });

    const navigationList = [
      {
        title: "Trips",
        route: "/user",
        type: "user",
      },
      {
        title: "All Trips",
        route: "/agency",
        type: "agency",
      },
      {
        title: "Available Trips",
        route: "/agency/trips",
        type: "agency",
      },
      {
        title: "My Trips",
        route: "/user/my-trips",
        type: "user",
      },
    ];

    const logOut = () => {
      ApiService.logOut();
    };
    return {
      state,
      navigationList,
      logOut,
      route,
    };
  },
};
</script>

<style lang="scss" scoped >
.active {
  color: $base-color-darken !important;
}
.button {
  & > a {
    transition: all 0.15s ease-in;
    &:hover {
      background: $base-color-darken;
    }
    background: $base-color-light;
    padding: 12px;
    margin: 12px;
    border-radius: 10px;
    color: white !important;
  }
}

#Header {
  height: $headerHeight;
  width: 100%;
  @include flex(center);
  .header-wrpper {
    @include flex(center);
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
    height: 70px;
    background-color: white;
    div {
      cursor: pointer;
      a {
        padding: 5px 16px;
        margin: 5px;
        text-decoration: none;
        color: black;
        font-weight: 700;
      }
      &:not(:last-child) {
        border-right: 1px solid gray;
      }
    }
  }
}
</style>