<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      @font-face {
        font-family: "Roboto";
        src: url("roboto.eot"); /* IE9 Compat Modes */
        src: url("roboto.eot?#iefix") format("embedded-opentype"),
          /* IE6-IE8 */ url("roboto.woff") format("woff"),
          /* Modern Browsers */ url("roboto.ttf") format("truetype"),
          /* Safari, Android, iOS */ url("roboto.svg#svgFontName") format("svg"); /* Legacy iOS */
      }

      /* use the font */
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
